@import "~react-toggle-switch/dist/css/switch.min.css"
$prefix: rooms-filter

.#{$prefix}
    width: 100%
    border-top: 1px solid grey
    border-bottom: 1px solid grey
    text-align: center
    padding: 1%

    .name-filter
        text-align: left
        width: 40%

        label[for="nameFilter"]
            margin-right: 5%
            font-size: 1.2em

    .available-now-filter
        width: 40%
        vertical-align: middle
        text-align: center

        label[for="availableNowFilter"]
            margin-right: 5%
            font-size: 1.2em

        .switch
            float: none
            vertical-align: middle
            &.on
                background: black