$prefix: dates-pager

.#{$prefix}

  .pager
    width: 80%
    margin: 20px auto

    li
      margin-right: 2%
      font-size: 1.2em

      &.current-date
        font-size: 1.5em

      a,
      span
        border: none
        border-radius: 0
        color: black
        &:hover,
        &:active,
        &:focus
          background: inherit
          outline: none