$prefix: 'button'
$buttonActiveBackgroundColor: #c61689
$buttonActiveBorderColor: #c61689
$buttonInactiveBackgroundColor: #f9a5d5
$buttonInactiveBorderColor: #f9a5d5
$buttonHoverBackgroundColor: #474343
$buttonHoverBorderColor: #474343
$buttonFontColor: #fff

.#{$prefix}
    height: 45px
    min-width: 150px
    font-size: 1.2em
    background: $buttonActiveBackgroundColor
    border: 2px solid $buttonActiveBorderColor
    outline: none
    color: $buttonFontColor
    text-transform: uppercase

    &:hover
        cursor: pointer
        background: $buttonHoverBackgroundColor
        border: 2px solid $buttonHoverBorderColor

    &:disabled
        background: $buttonInactiveBackgroundColor
        border: 2px solid $buttonInactiveBorderColor
        &:hover
            cursor: auto
