@import '~jqRangeSlider/css/iThing.css'
$prefix: range-slider

.#{$prefix}



  .ui-rangeSlider-container
      background: none

  .ui-ruler-tick-label
      color: black

  .ui-rangeSlider-bar
      background: #FFE900
      opacity: 0.4

  .available
      background: #009547
      opacity: 0.3
  .booked
      opacity: 0.3
      background: #E31E2F