$prefix: home

.#{$prefix}
    width: 80%
    margin: 2% auto
    border: 1px solid grey

    .list
        margin-top: 2%

        .not-found
            text-align: center
            font-style: italic
