div.notification-popup 
  width: 100%
  position: fixed
  background: #E40274
  min-height: 64px
  bottom: 0
  color: #fff
  z-index: 10000
  opacity: 0.85

  ul
    list-style: none
  

  i 
    font-size: 1.7em
    display: block
    cursor: pointer
    position: absolute
    right: 0px
    padding-right: 10px
  

  .notification-popup-content 
    margin-top: 20px
    margin-bottom: 20px
    font-family: Open Sans, Arial, Helvetica, sans-serif
    font-size: 1.2em
  
