$prefix: room

.#{$prefix}
    width: 80%
    min-height: 150px
    margin: 0 auto
    border: 1px solid grey

    .room-header

        .room-name
            font-size: 1.5em

        .book-button
            text-align: right

    .room-details
        padding: 2%

        .row
            padding: 5px 0

        .room-image
            margin-top: 1%

        // small screens breakpoint
        @media (max-width: 768px)

            .field-name
                img
                    width: 32px